<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Book Review</title>
  </head>
  <body data-ng-app="reviewsApp">
    <main data-ng-controller="ReviewsController" data-ng-init="getAll()">
      <div data-bobsled title="Reviews App">{{greeting}}</div>
      <h1>Reviews App:</h1>
      <div data-review-form save="createReview(review)"
           data-review="newReview"
           data-label-text="New Review"
           data-button-text="Add Review"
      ></div>
      <ul id="reviewsList">
        <li class="{{review.status}}" data-ng-repeat="review in reviews">
          <span data-ng-if="!review.editing">{{review.bookName | sentencify}}
            <button data-ng-click="editReview(review)">Edit</button>
            <button data-ng-click="removeReview(review)">Delete</button>
          </span>
        <div data-review-form
             data-ng-if="review.editing"
             data-label-text="Edit Review"
             data-button-text="Save Changes"
             data-review="review"
             data-save="updateReview(review)">
        </div>
        <button data-ng-if="review.editing" data-ng-click="review.editing = false">Cancel</button>

        </li>
      </ul>
    </main>
  
    <script src="bundle.js"></script>
  </body>
</html>
